{% extends 'agendamento/base.html' %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h4>Add agendamento</h4>
            <hr>

            <form action="
                {% if form.instance.pk %}
                    {% url 'edit_agendamento' form.instance.pk %}
                {% else %}
                    {% url 'add_agendamento' %}
                {% endif %}" method="post">

                {% csrf_token %}
                
                {{ form.as_p}}
               
                <button class='btn btn-success' type="submit">Salvar</button>
                <a class='btn btn-danger' href="{% url 'index_agendamento' %}">Cancelar</a>
            </form>

        </div>
    </div>

{% endblock %}