<!DOCTYPE html>
{% extends 'agendamento/base.html' %}

{% block content %}
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Data agendada</th>
                <th>Hora agendada</th>
                <th>Usuário</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for ag in agendamentos %}
                <tr>
                    <td>{{ ag.data_registro }}</td>
                    <td>{{ ag.descricao }}</td>
                    <td>{{ ag.data_agendada }}</td>
                    <td>{{ ag.hora_agendada }}</td>
                    <td>{{ ag.usuario }}</td>
                    <td>
                        <a class="btn btn-warning" href="{% url 'edit_agendamento' ag.id %}" role="button">Editar</a>
                        <a class="btn btn-danger" href="#" role="button">Excluir</a>
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
    
    <a class="btn btn-success" href="{% url 'add_agendamento' %}" role="button">Adicionar</a>
    <a class="btn btn-primary" href="{% url 'index_agendamento' %}" role="button">Voltar</a>
    
{% endblock %}    